<launch>

	<!--node name = "keyboard" pkg="move_robot_keyboard" type="command_image"/-->
	<!--node pkg="move_robot_keyboard" type="publish_image" name="readImage" output="screen" /-->

	<!-- Start Mapper to genreate map from laser scans -->
	<node name="Mapper" pkg="nav2d_karto" type="mapper" output="screen">  
	<remap from="scan" to="base_scan2"/> 
	<rosparam file="$(find nav2d_tutorials)/param/mapper_indoor.yaml"/>
    <!-- <rosparam file="$(find nav2d_tutorials)/config/zena2_r0.yaml"/> -->
	</node>
	
	<!--rosbag play-->
	<node pkg="rosbag" type="play" name="player0" args="--clock -r 1.5 -s 140 $(find nav2d_tutorials)/launch/bag_files/2Robots_CLAM/r0.bag"> 
	</node>

	<node name="Input" pkg="keyboard" type="keyboard">
    </node>		
	<node name="Onto_dist_node" pkg="recognition" type="index2diff.py" output="screen">
	</node>

	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find nav2d_tutorials)/param/tutorial3.rviz" />  

	<node name="broadcaster" pkg="pose_to_tftf" type="tf_node">
		<remap from="odompose" to="body_pose"/> 
		<remap from="headpose" to="head_pose" />
		<remap from="base_scan" to="odomscan"/>
	</node>  

</launch>
